/* MENU TOPO */
.top-menu {
  width: 100%;
  background: #e9dfcf;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #d4a73b;
}

.menu-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  width: 90px;
}

.top-menu nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #2e4a3f;
  font-weight: bold;
}

.top-menu nav a:hover {
  color: #d4a73b;
}