* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Aboreto", sans-serif;
  background: #fbf6ea;
  color: #4a4a4a;
  padding-top: 160px;
  height: 100%;
}

/* HEADER */
header {
  background: #6f8f6b;
  border-bottom: 4px solid #d4c45a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  flex-shrink: 0;
}
.content {
  flex: 1;
  overflow-y: auto;
}

/* NOVA ESTRUTURA */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LOGO */
.logo-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 120px;
}

/* DIREITA */
.header-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 20px;
}

/* SLOGAN */
.slogan {
  background: #fbf6ea;
  color: #6f8f6b;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
}
/* MENU DESKTOP */
nav {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 900;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 42px;
  font-weight: 300;
  max-width: 900px;
  margin: 0 auto 30px;
}

.cta-bar {
  background: #6f8f6b;
  padding: 15px 0;
  margin: 40px auto 0;
  border-top: 5px solid #d4c45a;
  border-bottom: 5px solid #d4c45a;
  max-width: 80%;
}

.cta-bar a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.image {
  max-width: 80%;
  margin: 30px auto;
  display: block;
}

.bottom {
  margin-top: 20px;
  font-size: 20px;
}

/* FOOTER */
.footer {
  position: relative;
  background: #6f8f6b;
  color: white;
  padding: 30px 20px;
  margin-top: 60px;
  flex-shrink: 0;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px; /* espaço entre itens */
  flex-wrap: wrap; /* evita quebrar layout em ecrãs pequenos */
}

.footer-left p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0; /* remove quebra vertical */
}

/* BOTÃO X */
.close-btn {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .header-right {
    width: 95%;
  }

  .logo {
    height: 70px;
  }

  .slogan {
    font-size: 16px;
    margin: 10px;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100%;
    background: #fbf6ea;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.4s;
    z-index: 1001;
  }

  nav.active {
    right: 0;
  }

  nav a {
    color: #6f8f6b;
    font-size: 24px;
    margin: 15px 0;
  }

  .menu-toggle {
    display: block;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #6f8f6b;
    cursor: pointer;
  }

  .hero h1 {
    font-size: 22px;
  }

  .bottom {
    font-size: 16px;
  }

  .cta-bar a {
    font-size: 20px;
  }
  .footer-left {
    display: block;
    text-align: left;
  }

  .footer-left p {
    margin: 5px 0;
  }
}
